<%- include("partials/header"); -%>


<center>

    <h1>About the ProgPage</h1>
</center>

<div class="row">
    <div class="col col-auto about">
        <p>The 'ProgPage' allows to create and run a web page with some commands and options on it. </p>
        <p>For example, You can add the tasks from left menu (on the 'Edit' page) to a task list, save the task
            sequence, and run Your page by pressing the "Run Your ProgPage" button. </p>

        <h2>What for?</h2>

        <p>The 'ProgPage' might be useful to quickly create a homepage for Your TV's or desktop's browser. </p>
        <p> The 'ProgPage' can show the current weather in many cities of the world, show a currency rates (around 33
            currencies available), show the last 10 news headlines from the country You wish, and the language will be
            the selected country's language. </p>
        <p>On Your 'ProgPage' is possible to set a background image (You should provide a url to the image). Or, as a
            background image the NASA's 'Astranomy Picture of the Day' can be used.</p>
        <p> The created sequence of added tasks allows You to: clear the page (remove the all page's elements), add more
            (by adding a weather, news, etc. tasks), set a delay (timeout) before next command/task will be performed,
            change the image on the background with a new one. </p>
        <p> Changing images on the "ProgPage" allows You to create a presintation remotelly, send a link to somebody or
            somewhere, and run that page on a big screens. </p>

        <h2>How to use?</h2>

        <p>To create a new 'ProgPage' <a href="/">go to home page</a>, and press the "Create a new 'ProgPage'".<br>
            After that, the list of possible tasks to add will appear, add the tasks by clicking on a task needed, then
            press the 'Save' button.</p>
        <p><strong>Important!</strong> we do not collect any personal information. Any personal information, that user
            inputs into an options for a tasks (such as "show message", e.t.c), user inputs for His/Her own response.
        </p>

        <h2>How to run/execute created "ProgPage"?</h2>

        <p>To run (execute) a created and saved 'ProgPage', <a href="/">go to a home page,</a> and push the 'Run Your
            ProgPage' button. Then, the key for Your created page appears. To continue, push the 'Run Your ProgPage'
            once more. </p>
        <p>You can paste another (earlier created) key to run or edit another 'ProgPage'.</p>
        <p>After running Your 'ProgPage', You can get a direct link to Your 'ProgPage'. The address can be copied from a
            browser's address bar.</p>
        <p>While runing Your 'ProgPage', the added tasks from a task list will be performed in the same sequence, as
            they were added.</p>

        <h2>How to edit?</h2>

        <p>In order to edit Your 'ProgPage', <a href="/">go to a home page</a>, and push the 'Edit Your ProgPage'
            button. Then, the key for Your created page appears. To continue, push the 'Edit Your ProgPage' once again.
        </p>
        <p>You can paste another (earlier created) key to run or edit another 'ProgPage'.</p>
        </p>
        <p> <strong>Attention!</strong> Anybody, who has Your 'ProgPage' link be able to edit that page. Do not publick
            Your 'ProgPage' link to prevent it be changed by anybody.</p>


        <h2>Tasks description</h2>

        <p>Now, 'ProgPage' has a 10 tasks available. Might be, we'll add more tasks in future. </p>

        <h3>Show currency rates</h3>

        <p>Shows a costs one currency to another ('From', 'To'). <br> There are 33 currencies to choose as a 'From' or
            'To'
            options.</p>
        <p>After clicking on 'Show currency rates', the slidedown menu appears, where the currency should be selected.
            Then,
            that slidedown menu appearce once more, to select a currency as a "To" option (in which currency to
            convert).
        </p>

        <h3>Weather in certain city</h3>

        <p>
            After clicking on that task in the tasks menu, ProgPage will ask Your to enter the name of the city. <br>
            After entering the name of the city (in which weather should be shown), press the '+' button or hit the
            'Enter' key.
        </p>

        <h3>News in certain country</h3>

        <p>
            Shows ten news from one of the 54 countries (selected). <br>
            The language of the news will be the selected country's language. <br> <br>
            While adding this task from a task menu, the slide down list of the countries appears to select from.
        </p>


        <h3>Set background image</h3>

        <p>
            Sets a user's chosen image on a page's background. While adding, the url to the image should be provided.
            <br> <br>
            If You would like to set your own image, the image should be uploaded somewhere first (in order to get a url
            for an image You like).
        </p>

        <h3>Astronomy Picture of the Day on background</h3>
        <p>
            Sets a NASA's 'Astronomy Picture of the Day' on a page's background. <br>
            While adding, user can choose from 'normal' or 'HD' image resolution.
        </p>

        <h3>Show message</h3>
        <p>Shows a user preentered message for a 5 seconds.</p>

        <h3>Delay</h3>
        <p>
            Perform a delay (in seconds). Other tasks will be performed only after that time ends. <br>
            While adding, user will be prompted to enter an amount of seconds.
        </p>

        <h3>Remove background image</h3>

        <p>Removes a background image from the page.</p>

        <h3>Clear the page</h3>

        <p>
            Removes all elements from Your 'ProgPage' (like weather blocks, news, currencies, etc.) except for an image
            on the background.
        </p>

        <h3>Redirect</h3>

        <p>Redirects to another (preentered) web address.</p>
        <p>While adding, user will be prompted to enter a web address on which the 'redirect' should redirect to.</p>










    </div>
</div>



<%- include("partials/footer"); -%>