<%- include("partials/header"); -%>


<center>

    <h1>Contacts</h1>
</center>

<div class="row">
    <div class="col col-auto about">
        <p>I'm looking for a job.</p>
        <p>Linkedin: <a href="https://www.linkedin.com/in/alexey-kokorev-90b826197/">https://www.linkedin.com/in/alexey-kokorev-90b826197/</a> </p>
        <p>My GitHub page: <br> <a href="https://github.com/omalaatuinen/">https://github.com/omalaatuinen/</a> </p>




    </div>
</div>



<%- include("partials/footer"); -%>