<%- include("partials/header"); -%>


<center>

    <h1>ProgPage: get Your own programmed page!</h1>


    <div class="row">
        <div class="col-sm-4">
            <form action="/create" method="POST">
                <button type="submit" id="create" class="btn btn-dark btn-lg">Create a new ProgPage</button><br>
            </form>
        </div>
        <div class="col-sm-4">
            <form action="/edit" method="POST">
                <button onclick="showKeyF('edit');" type="submit" id="edit" class="btn btn-dark btn-lg">Edit Your
                    ProgPage</button><br>
                <input class="form-control hidden" type="text" name="key" id="key" required
                    placeholder="Enter Your key">
            </form>
        </div>
        <div class="col-sm-4 run">
            <form action="/run" method="POST">
                <button onclick="showKeyF('run');" type="submit" id="run" class="btn btn-dark btn-lg">Run Your ProgPage</button><br>
                <input class="form-control hidden" type="text" name="key" id="key2" required
                    placeholder="Enter Your key">
            </form>
        </div>
    </div>


</center>
<%- include("partials/footer"); -%>