<%- include("partials/header"); -%>
<script>
    jQuery(window).on('load', function () {
    setCookie('<%=key%>');
    });
</script>
<!-- Div for "show message" command -->

<div class="msg"></div>


<div class="row justify-content-center">
    
    

</div> 


<script>
    jQuery(window).on('load', function () {
    runTasks(<%- JSON.stringify(taskList) %>);
    });
</script>

<%- include("partials/footer"); -%>