<%- include("partials/header"); -%>


<div class="row justify-content-sm-center">
    
    <div class="col col-auto msg">
       
    </div>

</div>


<script>
    runTasks(<%-JSON.stringify(taskList)%>);
    
</script>

<%- include("partials/footer"); -%>