<%- include("header"); -%>
<div class="box" id="heading">
<h1><%=listTitle%></h1>
</div>
<div class="box">
<p>This is an example web app, that demonstrates a using of Express.js with a EJS templating system.</p>
</div>
<%- include("footer"); -%>