body{
    background-color: black;

  }
h1{
    font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}
label, h2{
  color: gray;
}

input[type="text"].edit{
  background-color: black;
  display: inline-block;
  width: 200px;
}

input[type="text"].hidden {
  background-color: black;
  display: inline-block;
  width: 194px;
  display: none;
}

#taskList{
  background-color: black;
  width: 87%;
  font-size: 1.5rem;
}


button{
  margin: 20px 20px;
}

#tasks{
  background-color: black;
  width: 87%;
  font-size: 2rem;
}

#reqF{
  margin-bottom: 15px;
}
.reqF{
  display: none;
}
.addbtn{
  border-radius: 50%;
  position: relative;
  top: -1px;
}
#reqL{
  position: relative;
  top: 25px;
  right: 50px;
}
.saved{
  display: none;
}

.msg{
  display: none;
}